{
	admin off
	auto_https off
}

:{$PORT:8080} {
	bind 0.0.0.0
	root * /app

	handle /healthz {
		respond "ok" 200
	}

	handle {
		basic_auth {
			{$JAWNIX_BASIC_AUTH_USER} {$JAWNIX_BASIC_AUTH_HASH}
		}

		try_files {path} /index.html
		file_server
	}

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer-when-downgrade
	}
}
